<h1>{{title}}</h1>
<nav>
    <a routerLink="dashboard" routerLinkActive="active">Dashboard</a>
    <a routerLink="heroes" routerLinkActive="active">Heroes</a>
    <a routerLink="data-bind" routerLinkActive="active">Data Bind</a>
    <a routerLink="life-cycle-hook" routerLinkActive="active">Life Cycle Hook</a>
    <a routerLink="router" routerLinkActive="active">Router</a>
    <br>
    <a routerLink="hero-parent" routerLinkActive="active">Hero Parent</a>
    <br>
    <a routerLink="ad-banner" routerLinkActive="active">ad banner</a>
    <router-outlet></router-outlet>
</nav>