<h1>{{title}}</h1>
<nav>
    <a routerLink="hero/16" routerLinkActive="active">Hero Detail</a>
    <a routerLink="heroes" routerLinkActive="active">Heroes</a>
    <br>
    <a [routerLink]="['crisis-center/a', 17]" routerLinkActive="active">Crisis Detail</a>
    <a routerLink="crisis-center/a" routerLinkActive="active">Crisises</a>
    <br>
    <a [routerLink]="[{ outlets: { popup: ['compose'] } }]">Contact</a>
    <br>
    <a routerLink="/admin" routerLinkActive="active">Admin</a>
    <router-outlet></router-outlet>
    <router-outlet name="popup"></router-outlet>
</nav>